In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\s0116731\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\s0116731\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\s0116731\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\s0116731\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\s0116731\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\s0116731\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\s0116731\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\s0116731\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [91]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [92]:
driver= webdriver.Chrome(r"C:\Users\s0116731\Downloads\chromedriver_win32\chromedriver.exe")

In [93]:
driver.get('https://www.naukri.com/')

In [94]:
search_field_designation= driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")
search_field_location= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [95]:
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [96]:
url= "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [97]:
driver.get(url)

In [112]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [113]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="a94f4c09-fe06-4c48-a155-5dfbe7397e37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="c8de6a50-7365-4c0c-afbc-0be73985e443")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="d90e20db-8214-4e1c-9cdd-9aed3cfcaeb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="0fb401f8-0b04-4ebb-a5b3-9ec934b8fe77")>]

In [114]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
# job_titles[0:4]
print(len(job_titles))

20

In [115]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="eaaa0612-45ee-4ff9-befc-d5023afef53e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="5c8e6de0-7845-456e-8a95-97e76eb663e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="d051afc6-2633-44d2-a52b-5425ddbeb248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="2a1b4442-ffc2-493c-afef-96b432772e52")>]

In [116]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['Rupeek', 'Siemens', 'Walmart', 'LatentView']

In [117]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]
print(len(experience_tags))

20

In [118]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['2-7 Yrs', '0-10 Yrs', '5-8 Yrs', '2-6 Yrs']

In [119]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="52fd1090-eddf-48b2-9a2a-13e19033c48e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="154e1e62-7c24-4f03-af3c-8f995c3a8a5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="b902b6c7-cf4d-4794-970c-f932ca249e11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a240cf12edff2da3bd9725e37539dfe", element="d12ea9d0-da96-40f6-a462-98bc3f4acaff")>]

In [120]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru']

In [121]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [123]:
jobs=pd.DataFrame({})

jobs['title']= job_titles
jobs['company']= company_names
jobs['experience_required']= experience_list
jobs['location']= locations_list
jobs[0:10]

,title,company,experience_required,location
0,Senior Data Analyst/ Business Analyst,Rupeek,2-7 Yrs,Bangalore/Bengaluru
1,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,LatentView,2-6 Yrs,"Chennai, Bangalore/Bengaluru"
4,Senior Data Analyst,FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
5,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Cerner,8-12 Yrs,Bangalore/Bengaluru
7,Data Analyst,Myntra,1-3 Yrs,Bangalore/Bengaluru
8,Data Analyst,Enrich talents,0-4 Yrs,Bangalore/Bengaluru
9,Data Analyst - Platform & Security,National Geographic,4-6 Yrs,Bangalore/Bengaluru