In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\s0116731\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\s0116731\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\s0116731\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\s0116731\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sniffio in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\s0116731\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\s0116731\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\s0116731\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: certifi in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\s0116731\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\s0116731\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\s0116731\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver= webdriver.Chrome(r"C:\Users\s0116731\Downloads\chromedriver_win32\chromedriver.exe")

In [38]:
driver.get('https://www.naukri.com/')

In [39]:
search_field_designation= driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Scientist")
search_field_location= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [40]:
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [41]:
url= 'https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [43]:
driver.get(url)

In [44]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="491bd680-cc1f-4eda-b17e-f1e9bf0e77cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="c4493194-acd4-466e-a389-e940cd33ef75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="ea48e681-33f6-4725-bf26-b74ae9c72296")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="e44cfd25-042d-438c-8337-c2d6aaef0667")>]

In [45]:
job_titles=[]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Data Scientist',
 'ASSOCIATE DATA SCIENTIST',
 'Data Scientist',
 'Data Scientist']

In [46]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="a9bf36cd-723a-415b-bd72-d49a5ee75578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="090b1d31-9211-4a4a-9a48-f320e651d013")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="6307df03-86c6-47c5-8895-0ecbdc049b72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="40b88991-6eab-471e-aff8-261faf5cc5f1")>]

In [47]:
company_names=[]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['Applied Materials',
 'Hinduja Global',
 'Applied Materials',
 'Applied Materials']

In [48]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]
print(len(experience_tags))

20

In [49]:
experience_list=[]
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['0-3 Yrs', '1-4 Yrs', '2-4 Yrs', '4-7 Yrs']

In [50]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="120c25c1-3efb-41d5-8e64-dbca4912a471")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="e46a1c3f-877a-4b04-8a3c-d878f1a50c5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="817313da-8a74-47b4-b1c1-66b16a9af87d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="18e5ebd3a06afacb818c22cbcdfd21ea", element="6573c41d-c08e-4024-86bf-ff1efcb7b48f")>]

In [54]:
locations_list=[]
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [56]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [57]:
jobs=pd.DataFrame({})
jobs['title']= job_titles
jobs['company']= company_names
jobs['experience_required']= experience_list
jobs['location']= locations_list
jobs[0:10]

,title,company,experience_required,location
0,Data Scientist,Applied Materials,0-3 Yrs,Bangalore/Bengaluru
1,ASSOCIATE DATA SCIENTIST,Hinduja Global,1-4 Yrs,Bangalore/Bengaluru
2,Data Scientist,Applied Materials,2-4 Yrs,Bangalore/Bengaluru
3,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
4,Manager - Data Scientist Job @ Applied Materia...,Applied Materials,10-15 Yrs,Bangalore/Bengaluru(Whitefield)
5,Data Scientist/Engineer - Global Telecom Setup,Global Telecom Setup,3-8 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
6,Analyst- Data Scientist,Sigma Aldrich,1-4 Yrs,Bangalore/Bengaluru
7,Data Scientist - Immediate Joiners,Bristlecone,3-8 Yrs,"Noida, Mumbai, Pune, Bangalore/Bengaluru"
8,Senior Data Scientist/Data Scientist - Researc...,Hexaconcepts,6-9 Yrs,Bangalore/Bengaluru
9,Data Scientist,GSK India,4-7 Yrs,Bangalore/Bengaluru