In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
from selenium.common.exceptions import NoSuchElementException

driver=webdriver.Chrome(r"C:\Users\s0116731\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.ambitionbox.com/profile/data-scientist-salary')
time.sleep(5)

<ipython-input-14-2b2a91e8e515>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\s0116731\Downloads\chromedriver_win32\chromedriver.exe")

In [46]:
company_names = []
number_of_salaries = []
average_salaries = []
min_salaries = []
max_salaries = []
company_name = driver.find_elements_by_xpath("//div[@class='name']//a")
for i in company_name:
        company_names.append(i.text)


no_of_salary = driver.find_elements_by_xpath("//div[@class='name']//span")
for i in no_of_salary:
        salaries = i.text.split(" ")
        number_of_salaries.append(salaries[0][1:])


avg_ctc = driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg_ctc:
        average_salaries.append(i.text)
        

salary = driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in salary:
        salary_array = i.text.split("\n")
        min_salary = salary_array[0]
        min_salaries.append(min_salary)
        if len(salary_array) > 1:
            max_salary = salary_array[1]
            max_salaries.append(max_salary)
        else:
            max_salaries.append("")

df=pd.DataFrame({'Company Name':company_names[:10],
                'Number of Salaries':number_of_salaries[:10],
                'Average':average_salaries[:10],
                'Minimum':min_salaries[:10],
                'Maximum':max_salaries[:10]})

print(df)

<ipython-input-46-78482d6ddedb>:6: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  company_name = driver.find_elements_by_xpath("//div[@class='name']//a")
<ipython-input-46-78482d6ddedb>:11: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  no_of_salary = driver.find_elements_by_xpath("//div[@class='name']//span")
<ipython-input-46-78482d6ddedb>:17: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  avg_ctc = driver.find_elements_by_xpath("//p[@class='averageCtc']")
<ipython-input-46-78482d6ddedb>:22: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  salary = driver.find_elements_by_xpath("//div[@class='salary-values']")

        Company Name Number of Salaries  Average Minimum  Maximum
0                TCS                776   ₹ 7.1L  ₹ 3.0L  ₹ 16.0L
1          Accenture                461  ₹ 20.0L  ₹ 9.2L  ₹ 42.0L
2                IBM                371   ₹ 7.0L  ₹ 3.0L  ₹ 19.2L
3          Cognizant                300
4          Capgemini                288
5            Infosys                218
6      Tech Mahindra                213
7              Wipro                210
8           Deloitte                154
9  Fractal Analytics                146   ₹ 7.7L  ₹ 4.5L  ₹ 16.0L